* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}


.welcome-philos {
    padding-top: 35px;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    background-color: white;
    color: #B88E60;
    /* font-weight: bold; */
    font-size: 28.8px;
    line-height: 40.32px;
    padding: 11px 15px 11px 15px;
    letter-spacing: 6px;
    transform: translate(-50%, -50%);
}


/* Accordion Css */

.accordion {
    background-color: white;
    color: #B58F61;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-weight: bold;
    word-spacing: 6px;
}

/* .active, */
.accordion:hover {
    background-color: #B58F61;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


.navbar {
    height: 11vh;
}

nav .navbar-nav li a {
    font-size: 16px;
    font-weight: 300;
    line-height: 20.5px;
    text-transform: uppercase;
    /* padding: 7px 5px 7px 5px !important; */
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 15px !important;
    margin-right: 9px !important;
    letter-spacing: 1px !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    color: black !important;
    /* margin-left: 15px; */
}

nav .navbar-nav li a:hover {
    color: #B58F61 !important;
}

.diss {
    line-height: 35px;
}

.banner-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/banner1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


    animation-name: animate;
    animation-direction: alternate;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    /* animation-play-state: running; */
    /* animation-timing-function: ease-in-out; */

}

@keyframes animate {
    0% {
        background-image: url(../images/banner2.png);

    }

    20% {
        background-image: url(../images/banner3.png);
    }

    40% {
        background-image: url(../images/banner4.png);
    }

    60% {
        background-image: url(../images/banner5.png);
    }

    80% {
        background-image: url(../images/banner1.png);
    }

    100% {
        background-image: url(../images/banner1.png);
    }

}

.banners-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/eating1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.bannerss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/eating2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannersss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/padetric1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerssss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/lady.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannersssss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/pain.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerssssss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/bowl1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannersssssss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/meeting.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerssssssss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/fruit1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannersssssssss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/contactburger.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerssssssssss-images {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/downbaner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.after-process-image {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/process.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-container {
    background-color: white;
    height: 45vh;
    width: 100%;
    position: relative;
}

.Footer {
    width: 100%;
    height: 40vh;
    background-color: #56334F;
    color: white;
    position: relative;
}

.abovesfooter {
    height: 50vh;
    width: 100%;
    margin-left: 0;
    background-image: url('../images/dinner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.frequent-container {
    height: 70vh;
    background-color: white;
    width: 100%;
}

.nutri-image {
    position: absolute;
    width: 346.01px;
    height: 50px;
    /* padding: 40px; */
    left: 40%;
    top: 70%;
}

.main-heading {
    font-size: 22.4px;
    letter-spacing: 2px;
    line-height: 33.44px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #C79D65 !important;
}

.main-headings {
    font-size: 22.4px;
    letter-spacing: 2px;
    line-height: 33.44px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin-top: 45px;
    color: #C79D65 !important;
}

hr {
    color: #C79D65 !important;
    width: 210px;
    /* height: 90%; */
    font-weight: bold;
}

.know-heading {
    margin: 40px;
    letter-spacing: 3px;
}

.know-container {
    background-color: #E5E9F0;
    height: 110vh;
    width: 100%;
}

.my_hr {

    width: 1100px !important;
    /* height: 90%; */
    font-weight: bold;
    border: 2px solid #C79D65;
    /* margin-top: 0px !important; */
    margin-left: 15px !important;
}

.main-para {
    font-size: 19px;
    line-height: 33.4px;

}

.services-description>ul>li {
    font-size: 15.6px;
    font-weight: 300;
    /* letter-spacing: 2px; */
    line-height: 33.4px;
    text-decoration: none solid rgb(0, 0, 0);
    text-transform: uppercase;
}

.mains-connect-container {
    background-color: #E5E9F0;
    height: 480px;
    min-height: 50px;
}

.main-connect-col {
    background-color: #E5E9F0;
    height: 480px;
    position: relative;
}

.inside-connect-col {
    background-color: white;
    height: 220.6px;
    width: 977.1px;
    position: absolute;
    top: 20%;
    left: 18%;
}

.ul-dis {
    font-size: 20px;
}

.connect_button {
    /* border-radius: 4px; */
    position: absolute;
    left: 37%;
    background-color: #9A7142;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 250px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;

}

.connect_button span {
    font-size: 17.6px;
    font-weight: 300;
    text-decoration: none rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.connect_button span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.Footerlogo {
    width: 17% !important;
    height: 22%;
    position: absolute;
    right: 5%;
    top: 70%;

}

.connect_button:hover span {
    margin-right: 20px;
}

.connect_button:hover span:after {
    opacity: 1;
    right: 0;
}

.button {
    border-radius: 4px;
    background-color: #B58F61;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 10px;
    width: 350px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    left: 15%;
}

.button:hover {
    background-color: #9A7142;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    /* right: -20px; */
    transition: 0.5s;

}

.button:hover span {
    padding-right: 50px;
    font-size: 18px !important;
    padding-left: 5px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.footers-icons {
    position: absolute;
    top: 18%;
    right: 4%;
}

.health-pic {
    position: relative;
    z-index: 0;
}

.insides-container {
    width: 54%;
    height: 58%;
    margin-top: 85px;
    background-color: white;
    position: absolute;
    left: 43%;
}


.insides-container p {
    font-size: 30.2px;
    text-align: center;
    line-height: 40.8px;
    margin-top: 7%;
    color: #C58F61 !important;
}

.outer-container {
    height: 480px;
    width: 100%;
    background-color: #E5E9F0;
    position: relative;
}

.inside-outer-container {
    width: 54%;
    height: 50%;
    margin-top: 85px;
    background-color: white;
    position: absolute;
    left: 7%;
    top: 2%;
    z-index: 10 !important;
}

.inside-outer-container p {
    font-size: 30.2px;
    text-align: center;
    line-height: 42.8px;
    margin-top: 2% !important;
    color: #C58F61 !important;
}


.lady_img {
    max-width: 35%;
    height: auto;
    float: right;
    margin: 15px 0 15px 15px;
}

.card-title {
    color: #B58F61;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 19.6px;
    font-weight: bold;
}

.line {
    border-bottom: 1px solid #B58F61;
    margin-top: 15px;
    width: 79%;
}

.card-text {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 14.3px;
    font-weight: bold;
    margin-top: 15px;
}

.process-main-container {
    background-color: white;
    height: 160vh !important;
    width: 100%;
}


.process-heading {
    font-size: 38.4px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 49.92pxs;
    margin: 5%;
}

.process-connect_button {
    /* border-radius: 4px; */
    position: absolute;
    left: 67%;
    background-color: #9A7142;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 280px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;

}

.process-connect_button span {
    font-size: 17.6px;
    font-weight: 300;
    text-decoration: none rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.process-connect_button span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}


.client-heading {
    padding-top: 30px;
}

.para-div {
    margin-top: 5%;
}

.contact-para {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    word-spacing: 0px;
    margin-left: 10% !important;
}

.process-connect_button:hover span {
    margin-right: 4px;
}

.process-connect_button:hover span:after {
    opacity: 1;
    right: 0;
}


.reach-button {
    margin-left: 45px;
    margin-top: 5% !important;
}

.location-container {
    background-color: white;
    width: 100%;
    height: 70vh;
}


.locations {
    line-height: 18px !important;
}


.mains-para {
    font-size: 19px;
    /* line-height: 33.4px; */

}


.contactfooter {
    height: 50vh;
    width: 100%;
    margin-left: 0;
    background-image: url('../images/contactfo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}






/* @Media Queries */

@media (min-width: 300px) and (max-width: 1069px) {
    * {
        margin: 1;
        padding: 1;
        box-sizing: border-box;

    }

    .navbar {
        height: 150px;
    }

    .welcome-philos {
        text-align: center;

    }

    .my-logo {
        margin-top: 0px !important;
        /* height: 10vh !important; */
        margin-left: 50px !important;

    }


    .navbar-toggler {
        position: absolute;
        top: 75%;
        left: 44%;
        font-size: 25px;
        /* background-color: #7eb444; */
        border: none;
    }


    .nav-collapse .nav>li>a,
    .nav-collapse .dropdown-menu a {
        text-align: center !important;
        background-color: #211256 !important;
    }





    .nut-heading {
        margin-top: 1px !important;
        font-size: 24px !important;
        font-weight: 300;
        letter-spacing: 3px !important;
        line-height: 31.2px;
        margin-left: 15px;
        margin-top: 0 !important;
    }

    .main-para {
        font-size: 16px;

    }

    .special-a {
        font-size: 17.6px !important;
        letter-spacing: 2px !important;
        line-height: 35px !important;
        text-align: left !important;
    }

    .main-heading {
        padding: 0 !important;
        margin-left: 1px !important;
        font-size: 17.6px !important;
    }

    .ind-heading {
        margin-left: 12px !important;
    }

    .familybased {
        width: 100% !important;
        /* padding-right: 550px !important; */
        margin-left: 0% !important;
        height: 250px !important;
        box-sizing: border-box !important;
    }

    .servic-heading {
        margin-top: 15px !important;
        padding: 15px;
    }

    .ind-image {
        width: 98% !important;
        /* padding-right: 550px !important; */
        margin-left: 5% !important;
        height: 350px !important;
    }

    #meal-col {
        /* margin-right: 1px !important; */
        padding: 0 !important;
        margin: 0 !important;
    }

    .meal-head {
        text-align: left !important;
        margin-left: 16% !important;

    }

    .inside-connect-col {
        background-color: white;
        height: 300.6px;
        /* height: auto; */
        width: 497.1px;
        margin: 30px 3px 40px 3px !important;
        padding: 10px 50px 50px 50px;
        position: absolute;
        left: 5%;
    }

    .connect_button {
        /* border-radius: 4px; */
        position: absolute;
        left: 27%;
        background-color: #9A7142;
        border: none;
        color: #FFFFFF;
        text-align: center;
        width: 250px;
        height: 40px;
        transition: all 0.5s;
        cursor: pointer;

    }

    .upcontent {
        font-size: 11px !important;
        /* font-weight: bold; */
        letter-spacing: 1px;
        margin: 3px;
    }

    .nutri-image {
        position: absolute !important;
        width: 346.01px;
        height: 35px;
        /* padding: 40px; */
        left: 20% !important;
        top: 65%;
    }

    .main-connect-col {
        background-color: #E5E9F0;
        height: 440px !important;
        width: 100vw;
        position: relative;
    }

    .main-connect-cols {
        background-color: #E5E9F0;
        height: 590px !important;
        width: 100vw;
        position: relative;
    }

    .main-connect-colss {
        background-color: #E5E9F0;
        height: 700px !important;
        width: 100vw;
        position: relative;
    }


    .health-pic {
        width: 89% !important;
        margin-left: 5% !important;
        margin-top: 10%;
    }

    .insides-container {
        width: 85.5%;
        height: 27%;
        margin-top: 85px;
        background-color: white;
        position: absolute;
        left: 6.9%;
        top: 55%;
    }

    .insides-container p {
        font-size: 17.6px;
        text-align: center;
        line-height: 25.8px;
        margin-top: 5%;
        color: #C58F61 !important;
    }


    .outer-container {
        height: 710px !important;
        width: 100%;
        background-color: #E5E9F0;
        position: relative;
    }


    .inside-outer-container {
        width: 85%;
        height: 27%;
        margin-top: 85px;
        background-color: white;
        position: absolute;
        left: 7% !important;
        top: 55%;
    }

    .inside-outer-container p {
        font-size: 4vw;
        text-align: center;
        line-height: 25.8px;
        margin-top: 12%;
        color: #C58F61 !important;
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
        color: white;
        background-color: #B58F61;
        width: 150%;

    }

    .dropdown-menu>li>a:hover {
        /* background-image: none; */
        color: white !important;
        background-color: #9A7142;
    }

    .dropdown-menu {
        background-color: #B58F61;
        color: white !important;
    }

    nav .navbar-nav li a {
        color: white !important;
        padding: 15px !important;
        border-bottom: 1px solid white;
    }

    nav .navbar-nav li a:hover {
        color: white !important;
    }

    .know-container {
        background-color: white;
        height: 250vh;
        width: 100%;
    }

    .card {
        margin-bottom: 15px;
        margin-left: 1px;
        width: 30rem !important;
        border: none !important;
    }

    .card-body {
        border: none !important;
    }

    .card-title,
    .card-text {
        padding: 5px;
    }

    .process-main-container {
        background-color: white;
        height: 250vh !important;
        width: 100%;
    }

    .after-process-image {
        position: relative;
        height: 40vh;
        width: 100%;
        background-image: url('../images/process.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .nutri-para {
        font-size: 16px !important;
    }

    .abovesfooter {
        height: 40vh;
        width: 100%;
        margin-left: 0;
        background-image: url('../images/dinner.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .process-connect_button {
        /* border-radius: 4px; */
        position: absolute;
        left: 45%;
        background-color: #9A7142;
        border: none;
        color: #FFFFFF;
        text-align: center;
        width: 280px;
        height: 40px;
        transition: all 0.5s;
        cursor: pointer;

    }

    .process-heading {
        font-size: 24.4px;
        font-weight: 300;
        letter-spacing: 3px;
        line-height: 31px;
        margin: 5%;
        margin-left: 5% !important;
    }

    .reach-button {
        margin-left: 20px;
        margin-top: 25% !important;
    }

    .freq-heading {
        font-size: 30px;
        font-weight: 300;
        margin-top: 0%;
    }

    .accordion {
        background-color: white;
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 22.4px;
        text-align: left !important;

    }

    .process-para {
        margin-left: 12px !important;
    }

    .welcome-heading {
        margin-left: 15px;
    }

    .meal-support {
        margin-top: 35px !important;
        padding: 0px;
    }

    .service-image-2 {
        width: 100% !important;
        /* padding-right: 550px !important; */
        margin-left: 0% !important;
        height: 250px !important;
        box-sizing: border-box !important;
    }

    .process-main-container {
        background-color: white;
        height: 200% !important;
        width: 100%;
    }

    .frequent-container {
        height: 65vh;
        background-color: white;
        width: 100%;
    }

    .upcontent {
        margin-top: 0px !important;
    }


    .contact-container {
        background-color: white;
        height: 60vh;
        width: 100%;
        position: relative;
    }

    .connects_button {
        /* border-radius: 4px; */
        position: absolute !important;
        left: 3% !important;
        top: 40% !important;
        background-color: #C59661;
        border: none;
        color: #FFFFFF;
        text-align: center;
        width: 270px;
        height: 40px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5%;

    }

    .client-heading {
        /* padding-top: 1px !important; */
        margin-top: 25px !important;
    }

    .hr {
        margin-left: 2% !important;
        width: 20% !important;
    }

    .office-heading {
        margin-top: 15% !important;
        /* margin-top: 85px !important; */
    }

    .para-div {
        /* margin-top: 45%; */
        text-align: left;
        margin-left: 0% !important;
        position: absolute;
        left: 4% !important;
        top: 69%;
        line-height: 1px !important;
    }




    .button {
        border-radius: 4px;
        background-color: #B58F61;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        padding-right: 10px;
        width: 300px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button:hover {
        background-color: #9A7142;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        /* right: -20px; */
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 50px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .footers-icons {
        position: absolute;
        top: 70%;
        right: 40%;
    }

    .Footerlogo {
        width: 45% !important;
        height: 15%;
        position: absolute;
        left: 28%;
        top: 82%;
        opacity: 0.7 !important;

    }

    .Footer-left>h4 {
        font-size: 16px;
        letter-spacing: 0.9px;
        text-align: center;

    }

    .Footer-left>p {
        font-size: 12.8px;
        letter-spacing: 0.9px !important;
        text-align: center;
        line-height: 15px;
        word-spacing: 3px;
    }

    .Footer {
        background-color: #56334F;
        width: 100% !important;
        height: 75vh !important;
        position: relative !important;
    }

    .last-footer {
        background-color: #371C31;
        width: 100%;
        height: 82px !important;
        color: white !important;
        text-align: center;
        line-height: 0;
    }

    .last-footerp {
        margin-top: 5% !important;
        line-height: 0px !important;
        font-size: 12px !important;
    }

    .last-footerps {
        margin-top: 2% !important;
        font-size: 11px !important;
        margin-left: 35px !important;
    }

    .location-container {
        background-color: white;
        width: 100%;
        height: 100vh;
    }

    .client-heading {
        /* padding-top: 30px !important; */
        margin-left: 9% !important;
        margin-top: 2px !important;
    }

    .hr {
        margin-left: 9% !important;
    }

    .mains-para {
        font-size: 17px !important;
        word-spacing: 3px !important;
        line-height: 8px !important;

    }

    .our-location {
        margin-top: 1px !important;
        text-align: left !important;
    }
}